/* Container */
.container {
  margin: auto;
  width: 50%;
  padding: 45px;
   background-color: rgb(130,106,251);
}

/* Header */
header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

/* Form */
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form h3 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 15px;
}

/* Input Boxes */
.input-box {
  width: 100%;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
}

select {
  cursor: pointer;
}

textarea {
  height: 100px;
}

/* Diabetes select box */
.diabetes-box {
  margin-bottom: 20px;
}

/* Allergy options */
.allergy-options {
  display: flex;
  flex-wrap: wrap;
}

.allergy {
  margin-right: 20px;
}

/* Gender radio group */
.radio-group {
  display: flex;
  margin-top: 5px;
}

.radio-group label {
  margin-right: 10px;
}

/* Reason select box and other input */
#other-input {
  margin-top: 10px;
}

#other-reason {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
  display: none;
}

/* Submit button */
button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* Validation Error Messages */
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .input-box {
    width: 48%;
  }
}
